<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130100424025-f6f7i7hd55dr1e6o789ib3qtn0snr0gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130100424025-f6f7i7hd55dr1e6o789ib3qtn0snr0gr</string>
	<key>API_KEY</key>
	<string>AIzaSyBqOTYGhgVM9IRqZZ_p2vEwM-7xs2JWNmw</string>
	<key>GCM_SENDER_ID</key>
	<string>130100424025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.correa.appchat.loginAuth</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c7434</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c7434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130100424025:ios:53811321db5acf52df7048</string>
</dict>
</plist>